* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    outline: 1px solid #000000;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

.active-btn {
    background-color: #000000;
    color: #ffffff;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.slider-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input[type="color"] {
    align-self: center;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;

}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="range"] {
    background: none;
    accent-color: #000000;
    cursor: pointer;
}

.square {
    border: none;
}